
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: black;
}
.box-container{
    align-items: center;
    justify-content: center;
    width: 560px;
    transition-duration: 0.3s;
}
.box-container:hover{
    background-color: ;
    box-shadow: 6px 2px 3px 1px plum;
}
.container{
    align-items: center;
    justify-content: center;
}
.color-1{
    color: rgb(196, 125, 255);
}
.color-2{
    color: rgb(44, 127, 179);
}
.color-3{
    color: #e66465;
}
.p{
    color: white;
    font: 500;
    font-size: 1.25rem;
}
.card{
    width: 560px;
    height: 530px;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#22546e00;
}

.card-title{
    color: black;
    font: 700;
    font-size: 1.67rem;
}
.image-card{
    width: 200px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgb(239, 118, 118));
}
.btn-card{
    color: white;
    font-weight: 700;
    width: 150px;
    height: 50px;
  transition: 0.3s;
  cursor: pointer;
    background-color: gray; 
    border: none;
    border-radius: 20px 20px 20px 20px;
    margin-top: 50px
}
.btn-card:hover{
    background:linear-gradient(#e66465, #9198e5) ;
    color: black;
}
